version: '3.9'

services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=web3indexer
      - MONGO_INITDB_ROOT_PASSWORD=password
